@import url("../../assets/styles/color.css");
@import url("../../assets/styles/text.css");

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* -----------------------------------HEADER */

.header {
  width: 100%;
  height: 192px;
  background: var(--linear-gradient-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_container {
  width: 61.25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo_container {
  width: 170px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 59.27552795410156px;
  height: 58px;
  background-image: url(../../assets/images/Logo.png);
  background-repeat: no-repeat;
}

.header-title {
  width: 96.45825958251953px;
  height: 42.69211196899414px;
  background-image: url(../../assets/images/Title.png);
  background-repeat: no-repeat;
}

.header-nav {
  width: 410px;
  height: 14px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 13px;
}

.header-nav a {
  font-size: var(--header-text-size);
  font-weight: var(--header-font-weight);
  font-family: var(--font-family);
  text-decoration: none;
  color: var(--second-text-color);
}

@media only screen and (max-width: 1024px) {
  .header_container {
    width: 90%;
    justify-content: space-between;
  }

  .header-nav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .header-nav a {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 1200;
    right: 0;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-color);
    border-radius: 5px;
  }

  .header-nav a:hover {
    background-color: var(--secondary-color);
    color: var(--second-text-color);
  }

  .header-nav i {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icons/menu.svg);
  }

  .body_background div {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1100;
  }
}

/* -----------------------------------HEADER */

/* -----------------------------------FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 67px;
  position: relative;
  z-index: 1100;
}

.footer_container {
  width: 61.25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo_container {
  width: 170px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 59.27552795410156px;
  height: 68px;
  background-image: url(../../assets/images/Logo/Logo.svg);
  background-repeat: no-repeat;
}

.footer-title {
  width: 96.45825958251953px;
  height: 51.05282211303711px;
  background-image: url(../../assets/images/Logo/Title.svg);
  background-repeat: no-repeat;
}

.footer-nav {
  height: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav a {
  font-size: var(--header-text-size);
  font-weight: var(--header-font-weight);
  font-family: var(--font-family);
  color: var(--third-text-color);
  text-decoration: none;
}

.footer-nav_button {
  margin-left: 20px;
}

.footer-socials_logo {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 12px;
}

@media only screen and (max-width: 1300px) {
  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 50px;
  }

  .footer_container{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 50px;
  }

  .footer-logo_container {
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 14.27px;
  }

  .footer-nav {
    height: auto;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 10px;
  }
}
/* -----------------------------------FOOTER */

.page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.decoration_container {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 10;
}

.vector_container {
  width: 100%;
  position: absolute;
  z-index: 10;
}

.background_container {
  position: absolute;
  z-index: 9;
}

.background_by_size{
  display: none;
}

.background_container img {
  width: 100%;
}

.background_img_1 {
  margin-top: 359px;
}
.background_img_2 {
  margin-top: 412px;
}

.main_container {
  width: 61.25%;
  position: sticky;
  z-index: 1000;
}

.title_container {
  width: 100%;
  margin-top: 44px;
  margin-bottom: 68px;
}

.title {
  font-size: var(--title-text-size);
  font-weight: var(--title-font-weight);
}

.content_container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 28px;
  row-gap: 36px; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: -34px;
  justify-content: space-between;
}

.item_2 {
  margin-top: 75px;
  margin-left: 36px;
}

.content_block {
  width: 100%;
  height: fit-content;
}

.content_block div {
  position: relative;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_block div a {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  color: var(--second-text-color);
  text-decoration: none;
  bottom: 10%;
}

.content_block div a::after {
  color: var(--second-text-color);
  text-decoration: none;
}

.img_label {
  position: absolute;
  top: 40%;
  align-content: center;
  color: var(--second-text-color);
  font-size: 35px;
  font-weight: 700;
  width: 85%;
  text-align: center;
}

.img {
  position: relative;
  box-shadow: 0 4px 10px 0 #00000038;
  width: 574px;
  height: 526px;
}

@media only screen and (max-width: 1440px) {
  .vector_container {
    display: none;
  }

  .background_by_size{
    display: block;
  }

  .background_by_size_last{
    display: none;
  }

  .main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content_container {
    width: 90%;
  }

  .title_container {
    width: 90%;
  }

  .row {
    /* display: flex; */
    /* flex-direction: row; */
    width: min-content;
    height: 1225px;
    /* height: 1520px; */
    /* margin-top: -34px; */
    /* justify-content: space-between; */
    /* position: relative; */
    /* flex-wrap: wrap; */
    width: 85%;
  }

  .item_2 {
    position: relative;
    /* margin-top: 75px; */
    /* bottom: -81.8%; */
    bottom: -49%;
    left: -20%;
    margin: 0;
  }

  .img {
    margin: 0;
    padding: 0;
  }

  .content_container {
    display: grid;
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 1024px) {

  .background_by_size_last{
    display: block;
  }
  
  .row {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .item_2 {
    padding: 0;
    margin: 0;
    bottom: auto;
    left: auto;
    margin-top: 30px;
  }
}
