:root {
  --text-color: #000000;
  --second-text-color: #ffffff;
  --third-text-color: #a31c21;
  --fourth-text-color: #535353;
  --primary-color: #a31c21;
  --secondary-color: #ed1c24;
  --linear-gradient-color: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
}
