@import url("../../assets/styles/color.css");
@import url("../../assets/styles/text.css");

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  /* box-sizing: border-box; */
}

/* -----------------------------------HEADER */

.header {
  width: 100%;
  height: 192px;
  background: var(--linear-gradient-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_container {
  width: 61.25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo_container {
  width: 170px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 59.27552795410156px;
  height: 58px;
  background-image: url(../../assets/images/Logo.png);
  background-repeat: no-repeat;
}

.header-title {
  width: 96.45825958251953px;
  height: 42.69211196899414px;
  background-image: url(../../assets/images/Title.png);
  background-repeat: no-repeat;
}

.header-nav {
  width: 410px;
  height: 14px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 13px;
}

.header-nav a {
  font-size: var(--header-text-size);
  font-weight: var(--header-font-weight);
  font-family: var(--font-family);
  text-decoration: none;
  color: var(--second-text-color);
}

@media only screen and (max-width: 1000px) {
  .header_container{
    width: 90%;
    justify-content: space-between;
  }

  .header-nav{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .header-nav a{
    width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 100;
    right: 0;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-color);
    border-radius: 5px;
  }

  .header-nav a:hover{
    background-color: var(--secondary-color);
    color: var(--second-text-color);
  }

  .header-nav i {
    width: 24px;
    height: 24px;
    background: url(../../assets/images/icons/menu.svg);
  }

  .body_background div{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.5);
  }
}

/* -----------------------------------HEADER */

/* -----------------------------------FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 67px;
}

.footer_container {
  width: 61.25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo_container {
  width: 170px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 59.27552795410156px;
  height: 68px;
  background-image: url(../../assets/images/Logo/Logo.svg);
  background-repeat: no-repeat;
}

.footer-title {
  width: 96.45825958251953px;
  height: 51.05282211303711px;
  background-image: url(../../assets/images/Logo/Title.svg);
  background-repeat: no-repeat;
}

.footer-nav {
  height: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav a {
  font-size: var(--header-text-size);
  font-weight: var(--header-font-weight);
  font-family: var(--font-family);
  color: var(--third-text-color);
  text-decoration: none;
}

.footer-nav_button {
  margin-left: 20px;
}

.footer-socials_logo {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 12px;
}
/* -----------------------------------FOOTER */

.test {
  margin: 0;
  padding: 0;
}

#header_container {
  width: 100px;
  height: 100px;
  background-color: red;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.decoration_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.vec_1 {
  background: url(../../assets/images/decorations/vector.svg);
}
.vec_2 {
  margin-top: 165px;
  background: url(../../assets/images/decorations/vector_2.svg);
}

.vector {
  width: 75%;
  height: 1127px;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
}

.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content_container {
  width: 78%;
}

.content_container > .content_block {
  margin-top: 140px;
}

.content_container > .content_block ~ .content_block {
  margin-top: 0;
}

.content_block {
  position: sticky;
  z-index: 1000;
  padding-bottom: 85px;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-between; */
  font-family: "Raleway Black";
}

/* .text_container{} */

.title {
  font-size: var(--title-text-size);
  font-weight: var(--header-font-weight);
  margin-bottom: 12px;
}

.text {
  margin-top: 10px;
  font-size: var(--regular-text-size);
  font-weight: var(--regular-font-weight);
  
}

.right-text-image{
    align-items: center;
}

.only-text {
  justify-content: center;
}

.only-text-block {
    width: 80%;
}

.only-text-block > p {
    margin-top: 0;
    margin-bottom: 10px;
}

    .img_container {
  margin: 0;
  padding: 0;
}

.img_1 {
  margin-left: 40px;
  width: 774px;
  height: 628px;
}

.img_2 {
  width: 774px;
  height: 436px;
  object-fit: cover;
}

.img_3 {
  width: 686px;
  height: 574px;
  object-fit: cover;
}

.left_img {
  margin-right: 40px;
}

.contact-us_containet{
  position: sticky;
  margin: 0;
  padding: 0;
  z-index: 1000;
  display: flex;
  justify-content: end;
}

.contact-us_button{
  text-decoration: none;
  padding-right: 598px;
  margin-bottom: 100px;
  color: var(--third-text-color);
  border-style: solid;
  border-width: 0 0 2px 0;
  display: flex;
  flex-direction: row;
}

.contact-us_arrow{
  width: 22px;
  height: auto;
  background: url(../../assets/images/decorations/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}

@media only screen and (max-width: 1000px) {
  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 50px;
  }

  .footer-logo_container {
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 14.27px;
  }

  .footer-nav {
    height: auto;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 10px;
  }
}